body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}
p{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column; 
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
 #navbar{
    padding: 0 30px;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;

}
.theBanner{
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 400px;
    background-image: url("../assets/photo_2_about_us.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.aboutUs{
    display: flex;  
    justify-content: center;   
    font-family: 'Lato', sans-serif;
    color: rgb(22, 201, 224);
    letter-spacing: 2px;
    padding: 5px;

}
.contentOne{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightskyblue;
    align-items: center;
    height: auto;
}
.contentTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    padding: 30px;
}
.contentThree{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightskyblue;
    height: auto;
    align-items: center;
    padding: 30px;
}
.contentFour{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    padding: 30px;
}
.sectionOneDivOne{
    display: flex;
    width: auto;
    height: 400px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sectionOneDivOne img{
    display: flex;
    height: 400px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sectionTwoDivOne{
    display: flex;
    width: 33%;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}
.sectionTwoDivOne h3{
    font-size: 25px;
}
.sectionTwoDivOne p{
    font-size: 18px;
}
.sectionOneDivTwo{
    display: flex;
    width: 33%;
    align-items: center;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
}
.sectionOneDivTwo h3{
    font-size: 25px;
}
.sectionOneDivTwo p{
    font-size: 18px;
    font-weight: 35px;
}
.sectionTwoDivTwo{
    display: flex;
    width: auto;
    height: 400px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sectionTwoDivTwo img{
    display: flex;
    height: 400px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sectionOneDivThree{
    display: flex;
    width: auto;
    height: 400px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sectionOneDivThree img{
    display: flex;
    height: 400px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sectionTwoDivThree h3{
    font-size: 25px;
}
.sectionTwoDivThree p{
    font-size: 18px;
    font-weight: 35px;
}
.sectionTwoDivThree{
    display: flex;
    width: 33%;
    align-items: center;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    
}
.sectionOneDivFour{
    display: flex;
    width: 33%;
    align-items: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}
.sectionOneDivFour h3{
    font-size: 25px;
}
.sectionOneDivFour ul>li{
    font-size: 18px;
}
.sectionTwoDivFour{
    display: flex;
    width: auto;
    height: 400px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.sectionTwoDivFour img{
    display: flex;
    height: 400px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


@media only screen and (max-width: 1023px){
     .contentOne{
     padding: 30px 0;
     display: flex;
     flex-direction: column;
     }
    .sectionOneDivOne img{
        height: 250px;
    }
    .sectionTwoDivOne{
        display: flex;
        width: 90%;
        align-items: center;
        flex-direction: column;
        font-family: 'Lato', sans-serif;
    }

    .contentTwo{
        padding: 30px 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .sectionOneDivTwo{
        display: flex;
        width: 90%;
        align-items: center;
        flex-direction: column;
        font-family: 'Lato', sans-serif;
    }
    .sectionTwoDivTwo img{
        height: 250px;
    }
    .contentThree{
        display: flex;
        flex-direction: column;
    }
    .sectionOneDivThree img{
        height: 250px;
    }
    .sectionTwoDivThree {
        display: flex;
        width: 90%;
        align-items: center;
        flex-direction: column;
        font-family: 'Lato', sans-serif;
    }
    .contentFour{
        padding: 30px 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .sectionOneDivFour{
        display: flex;
        width: 90%;
        align-items: center;
        flex-direction: column;
        font-family: 'Lato', sans-serif;
    }
    .sectionTwoDivFour img{
        height: 250px;
    }
}
