body{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column; 
}
p{
    margin: 0;
}

.header{
    padding:0 30px 0 0px;
    position: absolute;
    /* left: 0;
    top: 0; */
    width: 100%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
}

.logo{
    font-size: 20px;
    padding-left: 20px;
}
.navbar ul {
    padding: 0;
    justify-content: space-between;
    display: flex;
    list-style: none;

}
.navbar ul > li {
    display: flex;
    font-size: 20px;
    padding: 0 30px 0 30px;
    justify-content: space-between;
}
.section{
align-items: center;
display: flex;
flex-direction: row;
justify-content: space-around;
padding:40px 60px 0 60px ;
position: relative;
overflow: hidden;
height: 700px;
background-image: url("../assets/imgContainer.png");
background-repeat: no-repeat;
background-size: 100% 100%;
background-position:center;

}
.description h3{
margin: 0;
font-size: 60px;
color: turquoise;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description p{
 padding-top: 30px;
 font-size: 20px;
}
.imgSection img{
    width: 700px;
    height: 500px;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    align-items: center;
    z-index: 99;
    background-position: left bottom;
    background-image: url("../assets/aboutUs.png");
    background-repeat: no-repeat;
    background-size: 40% 90%;
    /* padding:60px 0 0 0px; */
    height: 600px;
}

/* .about img{
    padding-right:180px;
} */

.txtAbout{
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.txtAbout h3 {
    font-size: 42px;
    margin: 20px 0 40px 0;
}
.txtAbout p{
    margin: 0px 0 40px 0;
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.btn{
    color:#fff;
    background-color: #007bff;
    padding:16px 45px 16px 45px;
    text-align: center;
    font-size: 14px;
    font-family: sans-serif;
    text-decoration: none;
    transition: all .4s ease-in-out ;
    border-radius: 5px;
    background-size: 200% auto;
}
.btn:hover{
    background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
}