body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
p{
    margin: 0;
}
#navbar{
    padding: 0 30px;
}
.containerRegister{
    display: flex;
    flex-direction: column;
   /* width: 100%; */
}
.containerLogin{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    height: auto;
}
.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/photo_login.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;

}
.form{
    display: flex;
    flex-direction: column;
    font-family: 'lato', sans-serif;
    background-color: lightyellow;
    padding: 40px;
    border-radius: 5px;
}
.loginForm{
    display: flex;
    flex-direction: column;
}
.form input[type=submit]{
    display: flex;
    justify-content: center;
    background-color: orange; 
    color: white;
    border: none;
    height: 40px;
    font-size: 20px;
    border-radius: 6px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}
.loginForm input[type=text]{
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    height: 30px;
    
}
.loginForm input[type=password]{
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    height: 30px;
    
}
 footer{
    padding: 0;
}


