body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
p{
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column; 
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
 #navbar{
    padding: 0 30px;
}
.containerRegister{
    display: flex;
    flex-direction: column;
   /* width: 100%; */
}
.registerform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../assets/photo_register.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'lato', sans-serif;
    height:auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.user_data{
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    font-family: 'lato', sans-serif;
    padding: 40px;
    border-radius: 5px;
    /* width:50%; */
    align-self: center;
}
.genderRow{
    display: inline-block;
}
.user_data h1{
    align-self: center;
}
.user_data p{
    align-self: center;
}
.submitColumn{
    display: flex;
    justify-content: center;
    background-color: orange; 
    color: white;
    border: none;
    height: 40px;
    font-size: 20px;
    border-radius: 6px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    
}
.user_data input[type=text]{
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    height: 25px;
    
}
.user_data input[type=password]{
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    border-radius: 6px;
    height: 25px;
    
}

@media only screen and (max-width: 830px){

}
